target/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
!**src/main/**/target/
!**src/test/**/target/

.idea
.project
.classpath
.c9/
*.sublime-workspace
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**src/main/**/build/
!**src/test/**/build/


.vscode
*.jar

.DS_Store
Thumbs.db

