@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeue-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'InterSemi';
  src: url("../fonts/Inter-SemiBold.ttf") format('truetype');
}

@font-face {
  font-family: 'InterBold';
  src: url("../fonts/Inter-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url("../fonts/Poppins-ExtraBold.ttf") format('truetype');
}


/* Styles for the search button */
.search-button {
  background-color: #727CF5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Styles for the hover and focus states of the search button */
.search-button:hover,
.search-button:focus {
  background-color: #0062cc;
  color: #fff;
  outline: none;
}

.headerNav{
  background-color: #727CF5;
  padding: 1rem 0rem;
}

.navHeaderItem {
  font-size: larger;
  color: #DEF6FF;
  font-family: 'InterBold', sans-serif;
}

.searchField{
  border: #727CF5 solid;
  border-radius: 5px;
}

.sloganHolder{
  height: 12em;
  text-align: center;
  display: flex;
  align-items: center;
  
  background-image: url("../images/registration.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  height: 35rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  /*padding-top: 7rem;*/
  /*padding-bottom: 7rem;*/
}

.slogan{
  display: flex;
  text-align: center;
  font-family: 'InterSemi', sans-serif;
  font-size: 2rem;
  justify-content: space-between;
  
}



.cardHolder{ 
  align-items: center;
}

.card {
  display: flex;
  border-radius: 0px;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-family: 'InterSemi' ,sans-serif;
  align-items: center;
  height: 22rem;
}

.card:nth-child(even) {
  background-color: #d2d5fc;
}

.card:nth-child(odd) {
  background-color: #747ef6;
}

.holderDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
  text-align: center;
  justify-content: center;
}

.cardText {
  padding-top: 2.2rem;
}

.exchangeShowcase{
  background-image: url(../images/universityFull.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;  
}



.exchangeShowcase .container {
  padding-top: 9rem;
}

@media screen and (max-width: 768px) {
  .exchangeShowcase .container {
    padding-top: 2rem;
  }
}

.exchangeShowcase img{ /*Makes it so the image will scale properly to the parent's container size*/
  max-width: 100%;
  max-height: 100%;
}

.exchangeShowcase h2, .exchangeShowcase div {
  color: #d9d3da;
  font-size: 1.3rem;
}

.exchangeShowcase h2 {
  font-family: 'InterBold', sans-serif;
  margin-bottom: 2rem;
  font-size: 1.4rem !important;
}

.exchangeShowcase div {
  font-family: 'Inter', sans-serif;
}

.exhGeneralInfo{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 4rem;
}

.text-general{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-general div{
  font-family: 'Inter';
  
}

.text-general h3{
  font-family: 'Poppins-ExtraBold';
  font-weight: bold !important;
  font-size: 3rem;
}



.courseHeader{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.courseHeader h2{
  margin-bottom: 0.8rem;
  color: #616cf5;
  font-family: 'InterSemi', sans-serif;
  font-size: 2em;
}
.courseHeader h3{
  color: #808080;
  font-family: 'InterSemi', sans-serif;
  font-size: 2em;
}

.courseHolder {
  background-color: #d2d5fc;
  padding: 4rem 1rem;
  text-align: center;
  align-items:end;
  justify-content: space-around;
}

.courseHolder img{
  width: 100%; /* Make the image width fill the container */
  height: auto; /* Preserve the aspect ratio of the image */
  
}

.courseHolder div {
  background-color: #fff;
  padding: 1rem; 
  margin-bottom: 1.5rem; 
}

.courseHolder div div{ /*This here will make the exch info appear on the left side of the container*/
  text-align: start;
  padding: 0rem;
  
}

.courseHolder div .courseData{ /*This will overwrite the above statement only for the div .courseData*/
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  font-size: 1.1em;
  font-weight: bolder;
}

.courseData + div {
  color: #747ef6;
  font-weight: bolder;
  margin-bottom: 0rem; /*Will overwrite th bottom margin set on .courseData*/
}

.applyBtn {
  background-color: #808080; /* Gray background color */
  color: #ffffff; /* White text color */
  padding: 10px 20px; /* Adjust the padding as needed */
  border: none; /* Remove the default button border */
  border-radius: 2rem; /* Increase the border-radius for rounder corners */
  font-size: 1.2em; /* Adjust the font size as needed */
  width: 10rem; /* Increase the width to make it longer */

  font-family: 'InterBold' sans-serif;
  font-weight: 600;
}

.applyBtn:hover {
  background-color: #666666; /* Darker gray on hover */
  cursor: pointer; /* Change the cursor on hover */
}


.consultation {
  background-image: url('../images/consultant.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.formHolder{
  display: flex;
  justify-content: end;
}

.formGroupMargin{
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.form-control{
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  min-width: 20px;
}

.formHolder input[type="submit"] {
  background-color: #fff;
  border-color: #727CF5;
  color: #727CF5;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: -5px;
}

.blogHolder{
  display: flex;
  justify-content: space-between;
  padding: 10rem 0rem;
  
}

.row.blogHolder .col-md-4 {
  flex: 1; /*Expand and fill the space evenly*/
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.row.blogHolder .col-md-4:last-child {
  margin-right: 0;
} 

@media screen and (max-width: 768px) {
  .row.blogHolder .col-md-4{
    margin-right: 0rem;
  }
}

.blogHolder + div {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.img-container{
  position: relative;
  display: inline-block;
  width: 100%; /*Makes the container take the entire width of the parent div*/
}
.img-container img{
  width: 100%;
  height: 100%;

}

.text-overlay {
  position: absolute;
  bottom: -0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 3%;
  display: flex;
  flex-direction: column;
}

.text-overlay h2, .text-overlay p {
  margin: 0;
}



.blogText {
  text-align: start;
}

.blog-button {
  background-color: #808080; /* Gray background color */
  color: #000000; /* White text color */
  padding: 10px 20px; /* Adjust the padding as needed */
  border: none; /* Remove the default button border */
  border-radius: 2rem; /* Increase the border-radius for rounder corners */
  font-size: 1.2em; /* Adjust the font size as needed */
  width: 10rem; /* Increase the width to make it longer */
  float: right; /*Pushes the button to the right*/

  font-family: 'InterBold' sans-serif;
  font-weight: bolder;
  
}

.blog-button:hover {
  background-color: #666666; /* Darker gray on hover */
  cursor: pointer; /* Change the cursor on hover */
}

/*
@media screen and (max-width: 768px) {
  .slogan {
    font-size: 1.5rem;
  }
  .blog {
    margin-bottom: 2rem;
  }
}*/

footer {
  background-color: #333333;
  padding: 4rem 0rem;
}

.footer {
/*
  display: flex;  
  justify-content: center;
  text-align: center;
  
  */
  color: white;
}

div.col-md-6 h2 {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}



