@font-face {
    font-family: 'Bebas Neue';
    src: url("../fonts/BebasNeue-Regular.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-Regular.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'InterSemi';
    src: url("../fonts/Inter-SemiBold.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'InterBold';
    src: url("../fonts/Inter-Bold.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins-ExtraBold';
    src: url("../fonts/Poppins-ExtraBold.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf") format('truetype');
  }

header .logo{
    font-size: 30px;
    color: #494E81;
    margin: 0 0 -10px 175px;
}
header h2{
    font-size: 27px;
}
header .btn.account{
    background-color: #fff;
    border-color: #727CF5;
    color: #727CF5;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: -5px;
}
header .btn:hover{
    background-color: #727CF5;
    color: #fff;
}
/* Styles for the search button */
header .search-button {
    background-color: #727CF5;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

/* Styles for the hover and focus states of the search button */
header .search-button:hover, header .search-button:focus{
    background-color: #0062cc;
    color: #fff;
    outline: none;
}

header .jst {
    justify-content: center;
}

header .headerNav{
    background-color: #727CF5;
    padding: 1rem 0rem;
}

header .navHeaderItem {
    font-size: larger;
    color: #DEF6FF;
    font-family: 'InterBold', sans-serif;
}

header .searchField{
    border: #727CF5 solid;
    border-radius: 5px;
}

.blogListSection {
    background-image:
    linear-gradient(90deg, rgba(114, 124, 245, 0.37) 0.05%, rgba(0, 102, 255, 0.37) 100.05%),
    url('../images/blogsBackground.png');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .blogListSection > h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
}

main .blogListSection .url-route {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

    color: #FFFFFF;
}

main .blogListSectio .url-route > a {
    color: #ffffff;
}
    
/**/

.blogHolder{
    display: flex;
    justify-content: space-between;
    padding: 10rem 0rem;
    
  }
  
.row.blogHolder .col-md-4:last-child {
    margin-right: 0;
  } 
  
.blogHolder + div {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
  }

/**/
  
  .img-container{
    position: relative;
    display: inline-block;
    width: 100%; /*Makes the container take the entire width of the parent div*/
  }
  .img-container img{
    width: 100%;
    height: 100%;
  
  }
  
  .text-overlay {
    position: absolute;
    bottom: -0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 3%;
    display: flex;
    flex-direction: column;
  }
  
  .text-overlay h2, .text-overlay p {
    margin: 0;
  }
  
  
  
  .blogText {
    text-align: start;
  }
  
  .blog-button {
    background-color: #808080; /* Gray background color */
    color: #000000; /* White text color */
    padding: 10px 20px; /* Adjust the padding as needed */
    border: none; /* Remove the default button border */
    border-radius: 2rem; /* Increase the border-radius for rounder corners */
    font-size: 1.2em; /* Adjust the font size as needed */
    width: 10rem; /* Increase the width to make it longer */
    float: right; /*Pushes the button to the right*/
  
    font-family: 'InterBold' sans-serif;
    font-weight: bolder;
    
  }
  
  .blog-button:hover {
    background-color: #666666; /* Darker gray on hover */
    cursor: pointer; /* Change the cursor on hover */
  }